rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function userIsAuthenticated() {
      return request.auth != null;
    }

    function userId() {
      return request.auth.uid;
    }

    function userIsSignedUp() {
      return userIsAuthenticated() && request.auth.token.phone_number != null;
    }

    function userOwnsDoc(ownerUserId) {
      return ownerUserId == userId();
    }

    function notUpdating(field) {
      return !(field in request.resource.data)
        || resource.data[field] == request.resource.data[field]
    }

    function userIsMarketeerAdmin() {
      return request.auth.token.role == 'marketeer-admin';
    }

    function userIsAssignedStoreRole(storeId, role) {
      return role in request.auth.token.storeIds[storeId];
    }

    function userIsStoreAdmin(storeId) {
      return 'admin' in request.auth.token.storeIds[storeId];
    }

    function documentIsOlderThan(days, docTime) {
      return request.time.toMillis() > docTime + 86400000 * days
    }

    match /merchants/{merchantId} {
      allow read: if userOwnsDoc(merchantId);
      allow read, write: if userIsMarketeerAdmin();
    }

    match /merchants/{merchantId}/disbursement_periods/{allPages=**} {
      allow read: if userOwnsDoc(merchantId);
      allow read, write: if userIsMarketeerAdmin();
    }

    match /merchant_topups/{paymentId} {
      allow read: if userOwnsDoc(resource.data.merchantId);
    }

    match /stores/{storeId} {
      allow update: if (userIsAssignedStoreRole(storeId, 'manager')
      || userIsStoreAdmin(storeId)) && notUpdating('creditData')
      && notUpdating('visibleToPublic') && notUpdating('storeCategory')
      && notUpdating('storeName') && notUpdating('storeLocation')
      && notUpdating('users') && notUpdating('orderNumber')
      && notUpdating('devOnly') && notUpdating('reviewNumber')
      && notUpdating('ratingAverage') && notUpdating('address')
      && notUpdating('creditThresholdReached');
      allow read: if userIsAuthenticated();
      allow write: if userIsMarketeerAdmin();
    }

    match /stores/{storeId}/items/{itemPageIds} {
      allow read, write: if userIsStoreAdmin(storeId);
      allow write: if userIsMarketeerAdmin();
      allow read: if userIsAuthenticated();
    }

    match /stores/{storeId}/order_reviews/{allPages=**} {
      allow read: if userIsAuthenticated();
    }

    match /orders/{orderId} {
      allow read: if (userIsSignedUp() && userOwnsDoc(resource.data.userId));
      allow update: if userIsSignedUp() && userOwnsDoc(resource.data.userId)
      && notUpdating('createdAt') && notUpdating('deliveryAddress')
      && notUpdating('deliveryCoordinates') && notUpdating('merchantId')
      && notUpdating('orderStatus') && notUpdating('paymentMethod')
      && notUpdating('quantity') && notUpdating('reviewed')
      && notUpdating('shipping') && notUpdating('totalAmount')
      && notUpdating('userCoordinates') && notUpdating('userId')
      && notUpdating('userName') && notUpdating('userOrderNumber') 
      && notUpdating('userPhoneNumber') && notUpdating('merchantOrderNumber')
      && notUpdating('storeId')
      && !(resource.data.orderStatus.completed.status && documentIsOlderThan(7, resource.data.orderStatus.completed.updatedAt))
      && !(resource.data.orderStatus.cancelled.status && notUpdating('userUnreadCount'));
      allow update: if (userIsAssignedStoreRole(resource.data.storeId, 'manager')
      || userIsAssignedStoreRole(resource.data.storeId, 'inventory_manager')
      || userIsStoreAdmin(resource.data.storeId))
      && !resource.data.orderStatus.cancelled.status
      && !(resource.data.orderStatus.completed.status && documentIsOlderThan(7, resource.data.orderStatus.completed.updatedAt));
      allow read: if userIsAssignedStoreRole(resource.data.storeId, 'manager') || userIsAssignedStoreRole(resource.data.storeId, 'inventory_manager')
      || userIsStoreAdmin(resource.data.storeId);
    }

    match /order_items/{orderId} {
      allow read: if userIsSignedUp() && userOwnsDoc(resource.data.userId);
      allow read, update: if userIsAssignedStoreRole(resource.data.storeId, 'manager') || userIsAssignedStoreRole(resource.data.storeId, 'inventory_manager')
      || userIsStoreAdmin(resource.data.storeId);
    }

    match /order_payments/{orderId} {
      allow read: if userIsSignedUp() && userOwnsDoc(resource.data.userId);
      allow read, update: if userIsAssignedStoreRole(resource.data.storeId, 'manager') || userIsAssignedStoreRole(resource.data.storeId, 'inventory_manager')
      || userIsStoreAdmin(resource.data.storeId);
    }

    match /users/{userId} {
      allow read, write: if userOwnsDoc(userId);
    }

    match /user_carts/{userId} {
      allow read, write: if userOwnsDoc(userId);
    }

    match /application/{config} {
      allow read: if userIsAuthenticated();
    }
  }
}