rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function userIsAuthenticated() {
      return request.auth != null;
    }

    function userOwnsFile(userId) {
      return request.auth.uid == userId;
    }

    function userIsMerchantAdmin(merchantId) {
      return request.auth.token.merchantIds[merchantId] || request.auth.token.merchantId == merchantId;
    }

    function userIsAssignedStoreRole(storeId, role) {
      return role in request.auth.token.storeIds[storeId];
    }

    function userIsStoreAdmin(storeId) {
      return 'admin' in request.auth.token.storeIds[storeId];
    }

    match /{allPaths=**} {
      allow read: if true;
    }

    match /images/merchants/{merchantId}/{allPaths=**} {
      allow write: if userIsMerchantAdmin(merchantId);
      allow read: if userIsAuthenticated();
    }

    match /images/stores/{storeId}/items/{fileName} {
      allow write: if userIsStoreAdmin(storeId) || userIsAssignedStoreRole(storeId, 'manager')
      || userIsAssignedStoreRole(storeId, 'inventory_manager');
      allow read: if userIsAuthenticated();
    }

    match /images/stores/{storeId}/{fileName} {
      allow write: if userIsStoreAdmin(storeId) || userIsAssignedStoreRole(storeId, 'manager');
      allow read: if userIsAuthenticated();
    }

    match /images/orders/{orderId}/order_chat/{fileName} {
      allow read: if userIsMerchantAdmin(resource.metadata.merchantId) || userOwnsFile(resource.metadata.customerUserId);
      allow create: if userIsMerchantAdmin(request.resource.metadata.merchantId) || userOwnsFile(request.resource.metadata.customerUserId);
    }

    match /images/store_categories/{fileName} {
      allow read: if userIsAuthenticated();
    }
  }
}
