rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function userIsAuthenticated() {
      return request.auth != null;
    }

    function userOwnsFile(userId) {
      return request.auth.uid == userId;
    }

    function userIsAssignedStoreRole(storeId, role) {
      return role in request.auth.token.storeIds[storeId];
    }

    function userIsStoreAdmin(storeId) {
      return 'admin' in request.auth.token.storeIds[storeId];
    }

    function userIsMarketeerAdmin() {
      return request.auth.token.role == 'marketeer-admin';
    }

    match /merchants/{merchantId}/{allPaths=**} {
      allow read, write: if userOwnsFile(merchantId);
    }

    match /images/stores/{storeId}/items/{fileName} {
      allow write: if userIsStoreAdmin(storeId) || userIsAssignedStoreRole(storeId, 'manager')
      || userIsAssignedStoreRole(storeId, 'inventory_manager');
      allow read: if userIsAuthenticated();
      allow write: if userIsMarketeerAdmin();
    }

    match /images/stores/{storeId}/{fileName} {
      allow write: if userIsStoreAdmin(storeId) || userIsAssignedStoreRole(storeId, 'manager');
      allow read: if userIsAuthenticated();
      allow write: if userIsMarketeerAdmin();
    }

    match /images/orders/{orderId}/order_chat/{fileName} {
      allow read: if userIsStoreAdmin(resource.metadata.storeId) || userOwnsFile(resource.metadata.customerUserId);
      allow create: if userIsStoreAdmin(request.resource.metadata.storeId) || userOwnsFile(request.resource.metadata.customerUserId);
    }

    match /images/store_categories/{fileName} {
      allow read: if userIsAuthenticated();
    }
  }
}
